<div class="content box">
  <p class="title">
    About the Weather
  </p>
  <div class="columns">
    <div class="column is-half">
      <p>
        There are six main components, or parts, of weather. They are temperature, atmospheric pressure, wind, humidity, precipitation, and cloudiness. Together, these components describe the weather at any given time. These changing components, along with the knowledge of atmospheric processes, help meteorologists—scientists who study weather—forecast what the weather will be in the near future.
      </p>
      <p>
        Temperature is measured with a thermometer and refers to how hot or cold the atmosphere is. Meteorologists report temperature two ways: in Celsius (C) and Fahrenheit (F). The United States uses the Fahrenheit system; in other parts of the world, Celsius is used. Almost all scientists measure temperature using the Celsius scale.
      </p>
      <p>
        Temperature is a relative measurement. An afternoon at 70 degrees Fahrenheit, for example, would seem cool after several days of 95 degrees Fahrenheit, but it would seem warm after temperatures around 32 degrees Fahrenheit. The coldest weather usually happens near the poles, while the warmest weather usually happens near the Equator.
      </p>
    </div>
    <div class="column">
      <figure class="image">
        <img src="/public/images/tropical-cyclone-over-oman.jpg">
      </figure>
    </div>
  </div>
  <p>
    Atmospheric pressure is the weight of the atmosphere overhead. Changes in atmospheric pressure signal shifts in the weather. A high-pressure system usually brings cool temperatures and clear skies. A low-pressure system can bring warmer weather, storms, and rain.
  </p>
  <p>
    Meteorologists express atmospheric pressure in a unit of measurement called an atmosphere. Atmospheres are measured in millibars or inches of mercury. Average atmospheric pressure at sea level is about one atmosphere (about 1,013 millibars, or 29.9 inches). An average low-pressure system, or cyclone, measures about 995 millibars (29.4 inches). A typical high-pressure system, or anticyclone, usually reaches 1,030 millibars (30.4 inches). The word “cyclone” refers to air that rotates in a circle, like a wheel.
  </p>
  <p>
    Atmospheric pressure changes with altitude. The atmospheric pressure is much lower at high altitudes. The air pressure on top of Mount Kilimanjaro, Tanzania—which is 5,895 meters (19,344 feet) tall—is 40 percent of the air pressure at sea level. The weather is much colder. The weather at the base of Mount Kilimanjaro is tropical, but the top of the mountain has ice and snow.
  </p>
  <p>
    Wind is the movement of air. Wind forms because of differences in temperature and atmospheric pressure between nearby regions. Winds tend to blow from areas of high pressure, where it’s colder, to areas of low pressure, where it’s warmer.
  </p>
  <p>
    In the upper atmosphere, strong, fast winds called jet streams occur at altitudes of 8 to 15 kilometers (5 to 9 miles) above the Earth. They usually blow from about 129 to 225 kilometers per hour (80 to 140 miles per hour), but they can reach more than 443 kilometers per hour (275 miles per hour). These upper-atmosphere winds help push weather systems around the globe.
  </p>
  <p>
    Wind can be influenced by human activity. Chicago, Illinois, is nicknamed the “Windy City.” After the Great Chicago Fire of 1871 destroyed the city, city planners rebuilt it using a grid system. This created wind tunnels. Winds are forced into narrow channels, picking up speed and strength. The Windy City is a result of natural and manmade winds.
  </p>
  <div class="columns">
    <div class="column is-half">
      <figure class="image">
        <img src="/public/images/lightning-bolts.jpg">
      </figure>
    </div>
    <div class="column is-half">
      <p>
        Humidity refers to the amount of water vapor in the air. Water vapor is a gas in the atmosphere that helps make clouds, rain, or snow. Humidity is usually expressed as relative humidity, or the percentage of the maximum amount of water air can hold at a given temperature. Cool air holds less water than warm air. At a relative humidity of 100 percent, air is said to be saturated, meaning the air cannot hold any more water vapor. Excess water vapor will fall as precipitation. Clouds and precipitation occur when air cools below its saturation point. This usually happens when warm, humid air cools as it rises.
      </p>
      <p>
        The most humid places on Earth are islands near the Equator. Singapore, for instance, is humid year-round. The warm air is continually saturated with water from the Indian Ocean.
      </p>
      <p>
        Clouds come in a variety of forms. Not all of them produce precipitation. Wispy cirrus clouds, for example, usually signal mild weather. Other kinds of clouds can bring rain or snow. A blanketlike cover of nimbostratus clouds produces steady, extended precipitation. Enormous cumulonimbus clouds, or thunderheads, release heavy downpours. Cumulonimbus clouds can produce thunderstorms and tornadoes as well.
      </p>
    </div>
  </div>
  <p>
    Clouds can affect the amount of sunlight reaching the Earth’s surface. Cloudy days are cooler than clear ones because clouds prevent more of the sun’s radiation from reaching the Earth’s surface. The opposite is true at night—then, clouds act as a blanket, keeping the Earth warm.
  </p>
  <p>
    This information is taken from the National Geographic website. <a href="https://education.nationalgeographic.org/resource/weather/">Click here to read more.</a>
  </p>
</div>