#{extends 'main.html' /}
#{set title:'Success' /}
#{menu id:"success"/}

<section class="content box">
  <div class="columns">
    <div class="column is-half">
      <h1>Success!</h1>
      <h2 class="subtitle">Account Details Updated</h2>
      <p><strong>First Name:</strong> ${member.firstname} <strong> Last Name:</strong> ${member.lastname}</p>
      <p><strong>Email:</strong> ${member.email}</p>
      <a href="/dashboard">
        <button class="button is-link is-info">Dashboard</button>
      </a>
    </div>
    <div class="column is-half">
      <figure class="image">
        <img src="/public/images/weathertop-watch-tower.jpg">
      </figure>
    </div>
  </div>
</section>